@charset "utf-8";

@font-face{font-family:ArkPixel;
  src:url(/assets/fonts/ark-pixel-10px-proportional-zh_cn.ttf.woff2) format("woff2"),
  url(/assets/fonts/ark-pixel-10px-proportional-zh_cn.ttf) format("truetype");font-weight:200;font-style:normal;font-display:block}
@font-face{font-family:ArkPixel;
  src:url(/assets/fonts/ark-pixel-10px-proportional-zh_cn.ttf.woff2) format("woff2"),
  url(/assets/fonts/ark-pixel-10px-proportional-zh_cn.ttf) format("truetype");font-weight:500;font-style:normal;font-display:block}
