<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.username }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="author-links">
    <a class="twitter" href="https://x.com/banhmidev" rel="noopener">X</a>
    <a class="twitter" href="https://bsky.app/profile/banhmi.dev">Bluesky</a>
    <a class="github" href="https://github.com/banhmidev" rel="noopener">GitHub</a>
    <a class="itchio" href="https://banhmidev.itch.io/" rel="noopener">Itch.io</a>
    <a class="googleplay" href="https://play.google.com/store/apps/dev?id=7442649683346169556" rel="noopener">Google Play</a>
    <a class="ios" href="https://apps.apple.com/us/developer/duc-son-nguyen/id1438307807" rel="noopener">App Store</a>
    <a class="steam" href="https://store.steampowered.com/search/?developer=banhmidev" rel="noopener">Steam</a>
  </div>
</div>
